<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.focusbear.fetch</string>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>x-apple-calevent</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Focus Bear</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>focusbear</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>focusbear</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your camera to take photos that can be converted into todo tasks using OCR.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) uses the microphone to record short voice notes and convert them into todo tasks. It won't be shared without your permission.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) requires access to the photo library so that users can attach screenshots when uploading error logs</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fenwick.ttf</string>
		<string>Fenwick-Bold.ttf</string>
		<string>Fenwick-Italic.ttf</string>
		<string>Fenwick-Light.ttf</string>
		<string>Fenwick-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSHealthShareUsageDescription</key>
	<string>Read and understand health data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Share workout data with other apps.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Focus Bear needs access to your calendar to schedule meeting reminders and help you avoid being late.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Focus Bear needs full access to your calendar to create, read, and manage meeting reminders for the Late No More feature.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.focusbear.startfocus</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start Focus</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Start a focus session</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTime</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.focusbear.startnexthabit</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start next habit</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Start next habit</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAlarm</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.focusbear.addtask</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Task</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Add a new task</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>StartFocusSessionIntent</string>
		<string>StartNextHabitIntent</string>
		<string>AddTaskIntent</string>
	</array>
</dict>
</plist>